@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 40;
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22pt;
}

#options-wrapper {
  position: absolute;
  top: calc(48.4%);
  left: calc(50% + 18pt);
}

.option-container {
  color: #cfd2da;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito';
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(102, 102, 102) 66%,
    rgb(255, 255, 255) 100%
  );
  font-size: 11pt;
  line-height: 22pt;
  vertical-align: middle;
  margin: 2pt;
  transition: 300ms;
  transform-origin: left top;
  border-radius: 30px;
  scale: 1;
  height: 22pt;
  width: 150pt;
  top: 0;
}

.option-container:hover {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(102, 102, 102) 66%,
    rgb(0, 0, 0) 100%
  );
  transform-origin: left top;
  color: rgb(0, 0, 0);
  margin-left: 4pt;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: '#cfd2da';
}


.option-label {
  font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 40;
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22pt;
}

#options-wrapper {
  position: absolute;
  top: calc(48.4%);
  left: calc(50% + 18pt);
}

.option-container {
  color: #cfd2da;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito';
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(102, 102, 102) 66%,
    rgb(255, 255, 255) 100%
  );
  font-size: 11pt;
  line-height: 22pt;
  vertical-align: middle;
  margin: 2pt;
  transition: 300ms;
  transform-origin: left top;
  border-radius: 30px;
  scale: 1;
  height: 22pt;
  width: 150pt;
  top: 0;
}

.option-container:hover {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(102, 102, 102) 66%,
    rgb(0, 0, 0) 100%
  );
  transform-origin: left top;
  color: rgb(0, 0, 0);
  margin-left: 4pt;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: '#cfd2da';
}


.option-label {
  font-weight: 500;
}
